.login,
.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  color: #000000;
}

.login h2,
.register h2 {
  margin-bottom: 20px;
}

.login form,
.register form {
  display: flex;
  flex-direction: column;
}

.login input,
.register input {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 100%;
  border: 1px solid #e8e8e8
}

.login button,
.register button {
  padding: 10px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
